# Virtual environments
venv/
.venv/
api/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / Editor files
.DS_Store
*.swp
*.swo

# Environment / secrets
.env
*.env

# Jupyter / notebooks
.ipynb_checkpoints/

# Node (for frontend trustlens-ui)
trustlens-ui/node_modules/
trustlens-ui/.next/
trustlens-ui/dist/
